<h1>RECONSTREW the BREW</h1>

<%= form_for @brew do |f| %>
  
  <%= render :partial => "form", :locals=>{:f=>f} %>

  <%= f.submit 'Reconstrew yo Brew Brah' %>
<% end %>


<h3>TRU, CONTINUE</h3>

<!-- blend_name
origin
notes
strength
 -->
